header a {
    color: #1e90ff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

header li {
    list-style-type: disc;
    padding: 0 20px 0 20px;
    display: inline;
}